flows.json
[{"id":"6dc44f4b.94e17","type":"tab","label":"Chatbot UI","disabled":false,"info":""},{"id":"b99a0199.90f59","type":"ui_form","z":"6dc44f4b.94e17","name":"","label":"","group":"359b8914.b320c6","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":100,"wires":[["9af77ac1.f589b8"]]},{"id":"9af77ac1.f589b8","type":"function","z":"6dc44f4b.94e17","name":"input parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":140,"wires":[["14df8156.15947f","17a22146.38a98f"]]},{"id":"14df8156.15947f","type":"ui_text","z":"6dc44f4b.94e17","group":"359b8914.b320c6","order":2,"width":0,"height":0,"name":"","label":"User input","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":240,"wires":[]},{"id":"17a22146.38a98f","type":"watson-conversation-v1","z":"6dc44f4b.94e17","name":"Restaurant Bot","workspaceid":"07c600b6-6ab3-470e-ac5b-649f5796ed91","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/9ebd35a1-1e6f-4050-bb70-0418d067c875","timeout":"","optout-learning":false,"x":420,"y":60,"wires":[["9eea3e92.edcd5","4bbaea02.e0ae64"]]},{"id":"9eea3e92.edcd5","type":"debug","z":"6dc44f4b.94e17","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":140,"wires":[]},{"id":"4bbaea02.e0ae64","type":"function","z":"6dc44f4b.94e17","name":"Output Parsing","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n    \n}\nelse{\n    msg.payload=msg.payload.output.generic[0].text\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":60,"wires":[["f76df845.6c9bf8","53101101.64042","8f8860a3.9638"]]},{"id":"f76df845.6c9bf8","type":"ui_text","z":"6dc44f4b.94e17","group":"359b8914.b320c6","order":2,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":60,"wires":[]},{"id":"53101101.64042","type":"ui_template","z":"6dc44f4b.94e17","group":"359b8914.b320c6","name":"","order":3,"width":0,"height":0,"format":"<img ng-src={msg.url} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":840,"y":20,"wires":[[]]},{"id":"8f8860a3.9638","type":"ui_audio","z":"6dc44f4b.94e17","name":"","group":"359b8914.b320c6","voice":"en-US","always":"","x":900,"y":140,"wires":[]},{"id":"359b8914.b320c6","type":"ui_group","z":"","name":"UI","tab":"dbf951b0.8d8dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"dbf951b0.8d8dc","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]